.sidenav {
  height: 100%;
  width: 90px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-top: 20px;
  position: fixed;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icons:hover {
  border-radius: 0px;
}
.icon-img {
  position: relative;
  background: #E1F0FF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0px 0px 0px 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-img:hover {
  border-radius: 5px;
}

.icon-img .sidenav-text {
  visibility: hidden;
  width: 85px;
  background-color: #121a32;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px 0px;
  position: absolute;
  font-size: initial;
  z-index: 1;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  left: 114%;
}

.icon-img .sidenav-text::after {
  content: '';
  position: absolute;
  display: block;    
  width: 0px; 
  right: 100%;       
  border: 5px solid transparent;
  border-left: 0;
  border-right: 9px solid #121a32;
  top: 50%;
  transform: translateY(-50%);
}
.icon-img:hover .sidenav-text {
  visibility: visible;
}

.stake-vote-icons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}