@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to { 
    transform: translateX(0);
  }
}

.sidenav {
  height: 100%;
  width: 106px;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  position: fixed;
  animation: slideIn .5s var(--umee-ease-out) forwards;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, .1) transparent;
}

.sidenav-menus {
  display: block !important;
  position: relative;
}

.sidenav-menus a {
  position: relative;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.sidenav-menus .menu-tab {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: linear-gradient(180.14deg, #fda9ff 0.12%, #c9b8ff 27.33%, #4dffe5 99.92%);
  width: 5px;
  height: calc(100% / 6);
  transition: ease-in 0.3s;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.icon-img {
  position: relative;
  transition: 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-hover {
  opacity: 0;
  position: absolute;
}

.sidenav-menus a:not(.active):hover .icon-img .icon-hover {
  opacity: 1;
  transition: none;
  position: initial;
}

.sidenav-menus a:not(.active):hover .icon-img .icon-default {
  opacity: 0;
  position: absolute;
}

.navbar {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar.open {
  top: 90px;
  opacity: 1;
}

.connect-wallet-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
}

.external-link {
  margin-top: -4px;
}
