.nav-title {
  text-align: center;
  padding: 25px;
  color: #142A5B;

}
p{
  color: #142A5B;
  padding-top: 25px;

}
.box {
align-self: center;
}
.toggle-switch {
  align-self: center;
}

.box {
  margin-left: 90px;
  margin-right: 90px;
}

@media(max-width: 1200px) {
  .markets-container {
    margin: 0 20px 0 110px;
  }
}
