.nav-title {
  text-align: center;
  padding: 25px;
  color: #142A5B;
}
p {
  color: #142A5B;
  padding-top: 25px;
}

@media(max-width: 880px) {
  .assets-container {
    margin: 0 20px 0 110px;
  }
}